.msgController-header {
    background-color: #f0f2f5;
    padding: 10px 16px;
    display: flex;
    justify-content: space-around;
}
.msgController-header button {
    border: none;
    cursor: pointer;
    height: 20px;
}
.msgController-header input {
    height: 20px;
}
.msgController {
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: column;
}